@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: whitesmoke;


}

/* headings and logo */

h1,
h2 {
    font-family: Playfair Display, serif;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links code taken from CI love-running project*/

#menu {
    font-size: 120%;
    letter-spacing: 2px;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image code taken from CI love-running project*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#cover-text,
h3 {
    font-family: Raleway, sans-serif;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('/assets/images/connemara_national_park.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 100%;
    font-family: Playfair Display, serif;
    letter-spacing: 4px;
    text-transform: none;
    width: 440px;
    height: 160px;
    border-radius: 10px / 30px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(191, 132, 59, .6);
    bottom: 30px;
    right: 100px;
    position: absolute;

}

/* Hiking Benefits */

#hiking-benefits {
    height: 600px;
    padding-bottom: 20px;
    background-color: rgba(245, 245, 245,);
    overflow: hidden;

}

#benefits-heading {
    text-align: center;
    font-size: 280%;
    margin: 20px 0;
    line-height: 75px;
}

.benefits-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 600px;
}

.benefits-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 600x;
    width: 50%;
}

#benefits-text div {
    width: 320px;
    height: 250px;
    min-width: 300px;
}

#benefits-text h2 {
    padding: 5px;
    margin-left: 30px;
}

#benefits-text p {
    text-align: justify;
    padding: 5px;

}

.benefits-image-container {
    width: 500px;
    height: 500px;
    padding: 5px;
    border-radius: 50px;
    min-width: 300px;
}

#benefits-img {
    height: 100%;
    background: url(../images/male_hiker.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 50px;
}

/* hikes in Ireland */

#best-hikes {
    height: 800px;
    width: 100%;
    color: #3a3a3a;
    margin-top: 30px;
    background: url(../images/majestic-lukas-YqraWjyAnM8-unsplash.jpg);
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;


}

#best-hikes-heading {
    text-align: left;
    font-size: 280%;
    color: black;
    padding-left: 30px;
    background-color: #A3B4BF;
    line-height: 75px;

}

.provinces-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    
}

#provinces div {
    color: #fff;
    background-color: rgba(40, 48, 64, .8);
    margin: 20px 5px;
    height: fit-content;
    
}

#provinces h2 {
    padding: 10px;
    font-size: 180%;
    text-transform: uppercase;
    color: #fff;
    margin: 20px 10px
}

#provinces ol {
    margin-left: 35px;
    font-size: 110%;
    font-weight: 900;
    padding-bottom: 20px;
    padding-right: 10px;
}

li {
    margin-bottom: 15px;
}

#provinces i {
    color: #D9A76A;
}

#hikes-link {
    background-color: #283040;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    font-size: 120%;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 10px;
    text-transform: capitalize;
}

#hikes-link a {
    text-decoration: none;
    color: inherit;
}

#hikes-link:hover {
    background-color: #BF843B;
    color: #fff;
    box-shadow: 10px 20px 10px black;
}

/* Info Section */

#info-section {
    height: 600px;
    background: url(../images/mathieu-habegger-8ymocOJwFUU-unsplash.jpg);
    background-size: cover;
    overflow: hidden;

}

#info-heading {
    text-align: center;
    width: 100%;
    font-size: 280%;
    line-height: 75px;
    overflow: hidden;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 5px;


}

#newsletter-info {
    width: 320px;
    height: fit-content;
    background-color: rgba(191, 132, 59, .6);
    color: #fff;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    font-size: 120%;
    letter-spacing: 3px;
    font-weight: 900;
    

}

#newsletter-info > h2 {
    color: #fff;
    padding-bottom: 10px;
}

#newsletter-info > p {
    margin: 5px;
}

.info-signup-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}




/* Footer code taken from CI love-running project */
footer {
    height: 50px;
    background-color: rgba(38, 22, 22, .8);
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-networks {
    text-align: center;
    margin-left: 10px;
    display: inline;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 10px 20px 5px 20px;
    color: #fff;
}

#find-us {
    display: inline;
    margin-left: 30px;
}

#copyright {
    float: right;
    margin-top: 15px;
}

/* gallery section code adapted from CI love-running project*/


#pictures {
    width: 100vw;
    height: fit-content;
    padding: 20px;
    clear: both;
    line-height: 3;
    column-count: 4;
    column-gap: 10px;
    background-color: #283040;

}

#pictures>img {
    width: 100%;
    border-radius: 16px;

}

/* Signup page */

#form-bg {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-image: url(../images/gorse_bush.jpg);
    overflow: hidden;

}

.signup-page-container {
    display: flex;
    flex-direction: column;
}

form {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: rgba(38, 22, 22, .7);
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 120%;
    margin: 30px;

}

input,
label {
    margin: 10px 20px 20px 20px;
    font-family: inherit;
    display: inline;
}

label {
    color: #fff;
    display: inline-block;
    width: 100px;

}

input {
    padding-top: 5px;
    padding-bottom: 10px;
    color: black;
    width: 160px;
}

#submit {
    color: #252525;
    font-size: 120%;
    background-color: #fff;
    text-transform: uppercase;
}

#submit:hover {
    background-color: #BF843B;
    color: #fff;
    box-shadow: 10px 20px 10px black;
}

fieldset {
    border: #fff solid 2px;
    border-radius: 10px;
    color: #fff;
    margin: 20px;
    padding: 30px;
    font-size: 100%;

}

#signup-quote {
    height: fit-content;
    width: fit-content;
    padding: 20px 10px;
    margin: 20px;
    text-transform: initial;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    background-color: rgba(191, 132, 59, .8);

}

#signup-quote h2 {
    font-size: 180%;
    text-transform: initial;
    color: #fff;
}

/* Media Queries, code taken from CI loverunning project*/

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    
    #hiking-benefits {
        width: 65%;
        height: 900px;
    }

    .benefits-container {
    justify-content: baseline;
}

    .benefits-text-container {
        flex-wrap: nowrap;
        width: 100%;
        
    }

}

    